main > div {
  background-color: #fff;
  box-shadow: 0px 0px 30px #001;
  border-radius: 10px;
  display: content;
  max-width:100%;
  padding: 10px;
  margin-top: 5px;
}

.div {
  margin-left: 10px;
}