/* Layout em Grid */

.crud {
  box-sizing: border-box;
  margin: 0px;
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-template-areas:
    "menu content";
  height: 84.5vh;
  background-color: #0077ff;
  margin-top: 80px;
  padding: 50px;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

aside.menu-area {
  grid-area: menu;

}

main.content {
  grid-area: content;
  padding: 25px 0;
}


@media(max-width: 768px) {
  .app {
    grid-template-rows:
      100px 70px 1fr 40px;
    grid-template-columns: 160px 1fr;
    grid-template-areas:
      "header header"
      "menu menu"
      "content content";
  }
}

@media(max-width: 576px) {
  .app {
    grid-template-rows:
      100px 70px 1fr 40px;

    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "menu"
      "content";
  }

}